nav {
  background-color: #b71c1c;
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
  color: white;
  font-family: Montserrat, sans-serif;
  height: 8vh;
}

#logo {
  display: grid;
  place-items: center;
}
ul {
  display: flex;
  width: 50%;
  list-style: none;
  justify-content: space-around;
  text-transform: uppercase;
}
