$base-color: #b71c1c;
$light-base: #e6fbfc;
$dark-color: #7f0000;
$text-dark: black;
$text-light: #fe4600;
$accent-color: #004ba0;

//Reset
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: $light-base;
  position: relative;
  font-family: "Indie Flower", "Montserrat", "Roboto", sans-serif;
}
html:focus-within {
  scroll-behavior: smooth;
}
ul {
  list-style: none;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  padding: 2rem 10% 1rem 10%;
}
button {
  background-color: $accent-color;
  border: 1px solid transparent;
  font: inherit;
  border-radius: 0.2em;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;

  &:hover {
    background-color: $base-color;
    border: 1px solid white;
    box-shadow: 2px 3px 10px $dark-color;
  }
  &.close-btn {
    background: transparent;
    border: none;
    font-size: 2rem;
    color: inherit;
    &:hover {
      box-shadow: none;
      font-weight: bolder;
    }
  }
}

// Homepage
.main-presentation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0;
  padding-bottom: 2em;

  svg {
    padding: 0;
    width: 55%;
    max-height: 50vh;
  }
  .presentation {
    width: 45%;
    // padding-bottom: 8vh;
    display: flex;
    flex-direction: column;

    h1 {
      display: none;
      color: $text-light;
      font-size: 2em;
      margin-bottom: 20px;
      padding-right: 20px;
      text-align: right;
    }
    .presentation-paragraph {
      padding: 5vh 5vw;
      line-height: 1.8em;
    }

    a {
      align-self: center;
      position: relative;
      left: 25px;
    }
    button {
      font-size: 25px;
      padding: 0.5em 1.2em;
      box-shadow: 4px 6px 27px $accent-color;
      transition-duration: 0.2s;
      transition-property: background-color, box-shadow;

      &:hover {
        box-shadow: 4px 6px 27px $base-color;
      }
    }
  }

  @media screen and (max-width: 60em) {
    svg {
      display: none;
    }

    .presentation {
      width: 90%;
    }
  }
}

// Navigation bar
nav {
  background-color: $light-base;
  display: flex;
  justify-content: space-between;
  color: $text-light;
  z-index: 1;
  font-family: "Indie Flower";
  #logo {
    display: grid;
    place-items: center;
    padding: 1em;
    img {
      width: calc(min(250px, 50vw));
    }
  }

  ul {
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
    align-items: center;
    margin-right: 2rem;
    position: relative;

    &::after {
      content: "";
      background-image: linear-gradient(to left, $text-light, transparent);
      height: 2px;
      width: clamp(700px, 50vw, 1200px);
      position: absolute;
      bottom: 2rem;
      right: 2rem;
    }

    li {
      margin-right: 2em;
    }
    a {
      text-decoration: none;
      font-size: 32px;
      color: $text-light;
      position: relative;

      &:hover:not(.selected) {
        color: $dark-color;

        &::after {
          content: "";
          width: 100%;
          height: 10px;
          display: block;
          border-radius: 50%;
          box-shadow: inset 0 3px 4px 0px #00000018;
          z-index: 2;
          position: absolute;
          bottom: 0px;
          left: -4px;
        }
      }
    }
  }

  .selected {
    color: gray;
    cursor: default;
  }
  .mobile-menu {
    display: none;
  }

  // .navbar-contact-link {
  //   display: none;
  // }
}

// Footer
footer {
  background-color: #f5c8c8;
  margin-top: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: $dark-color;

  #adress {
    width: 20rem;
    margin: 0.5em 0;
  }
  #footer-contact {
    width: 20rem;

    li:nth-child(2) {
      font-size: 0.8em;
    }
  }
  #footer-copyright {
    position: absolute;
    bottom: 0;
    right: 5px;
    font-size: 10px;
    opacity: 0.5;
  }
  #adress li {
    font-size: 12px;
    text-align: end;
  }
  button {
    margin-right: 35px;
    margin-left: 35px;
    transition-duration: 0.2s;
  }
}

// Lessons page
main.lecons {
  background-color: $light-base;
  color: $dark-color;

  .ateliers {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
  }
  .cards {
    margin-top: 15px;

    @media screen and (min-width: 800px) {
      justify-content: space-around;
      display: flex;
      flex-wrap: wrap;
    }
  }

  .atelier {
    color: $text-dark;
    margin: 10px 0 20px 0;
    padding: 1em;
    box-shadow: 0.1em 0.1em 2em #baedf0a9;

    @media screen and (min-width: 800px) {
      flex: 0 1 calc(50% - 5em);
    }
    @media screen and (min-width: 1300px) {
      flex: 0 1 calc(25% - 1em);
      max-width: 320px;
    }

    img {
      width: 100%;
    }

    h2 {
      text-align: center;
      font-size: 26px;
    }

    p {
      line-height: 1.3rem;
      font-size: 18px;
    }
  }
  .instruments {
    display: flex;
    flex-direction: column;
    margin-bottom: 35px;
  }
  @media screen and (min-width: 600px) {
    .cards {
      justify-content: space-around;
      display: flex;
      flex-wrap: wrap;
    }
    .instrument {
      flex: 0 1 calc(50% - 1em);
    }
  }

  .instrument {
    display: flex;
    flex-direction: column;
    padding: 1em;
    box-shadow: 0.1em 0.1em 2em #baedf0a9;
    color: $text-dark;
    margin-bottom: 20px;

    @media screen and (min-width: 900px) {
      flex: 0 1 calc(33% - 1em);
      max-width: 320px;
    }

    img {
      width: 90%;
      height: 200px;
      object-fit: cover;
      margin-bottom: 10px;
      align-self: center;
    }

    .horaires {
      margin: 0 10px;
      display: flex;
      flex-direction: column;
      ul {
        align-self: center;
        position: relative;
      }
    }
    #prof-name {
      margin: 5px 10px;

      #name {
        font-weight: normal;
      }
    }
  }
}

// Contact Form
.modal-parent {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(128, 128, 128, 0.767);
  display: grid;
  place-items: center;
  color: $base-color;
  z-index: 3;

  #modal-children {
    display: grid;
    grid-template-areas:
      ". title close"
      "form form recap";

    grid-template-columns: 35% 30% 35%;
    grid-template-rows: 10% 90%;
    background-color: white;
    width: 80vw;
    max-width: 1000px;
  }
  #close-btn {
    grid-area: close;
    font-size: 30px;
    justify-self: end;
    align-self: center;
    padding: 20px;
  }
  h1 {
    grid-area: title;
    justify-self: center;
    align-self: center;
  }
  .contact-form {
    grid-area: form;
    padding: 0 3%;

    form {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      margin-left: 10%;
      height: 100%;

      label {
        display: flex;
        flex-direction: column;
      }
      input {
        height: 2rem;
        padding-left: 10px;
        width: 50%;
        border-radius: 5px;
        border: 1px solid $dark-color;
        background-color: #f0564515;
      }
      input + span::after {
        position: absolute;
        top: -1.7rem;
        left: 51%;
      }
      input:valid + span::after {
        content: "✓";
        color: green;
      }
      span {
        position: relative;
      }
      textarea {
        width: calc(max(80%, 250px));
        height: 150px;
        resize: none;
        background-color: #f0564515;
        border-radius: 5px;
        border: 1px solid $dark-color;
        padding: 10px;
      }

      button {
        width: 7rem;
        margin: 2em;
      }
    }
  }
  #adress-recap {
    grid-area: recap;
    display: grid;
    place-items: center;
    ul {
      line-height: 2rem;
      span {
        font-size: small;
        padding-right: 10px;
      }
      li:nth-child(2) {
        margin-bottom: 1em;
        font-size: 0.8em;
      }
    }
  }
}

// Actus
.actus {
  width: 80vw;

  .loading {
    display: flex;
    align-items: center;
    justify-content: center;

    &__text {
      font-size: 2em;
    }
  }

  .article {
    &__card {
      margin: 1rem 3rem;
      font-family: "Montserrat";
    }
    &__title {
      color: $text-light;
      font-size: 2.5rem;
      line-height: 1.5;
      font-family: "Indie Flower";
    }
    &__date {
      color: $accent-color;
      font-size: small;
      margin: 5px 0;
    }
    hr {
      border: 0;
      height: 1px;
      background: #333;
      width: 60%;
      background-image: linear-gradient(to right, #333, #ccc);
      margin-bottom: 1rem;
    }

    &__text {
      ul {
        list-style-type: disc; // Reset the default styling on lists
      }
      li {
        list-style-position: inside; //Avoid the numbers in ol being outside the card
      }

      > * {
        margin: 0.5em 0.5em;
      }
      code {
        font-size: 1.2em;
      }
      blockquote {
        position: relative;
        padding-left: 1em;
        border-left: 0.2em solid #039be5;
        font-family: "Roboto", serif;
        font-size: 1.2em;
        line-height: 1.5em;
      }
    }
  }

  img {
    max-width: calc(min(500px, 100%));
    max-height: calc(min(500px, 100%));
  }

  .error {
    text-align: center;
    margin: 2em;
  }
}

// Loading Spinner
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  transform: scale(0.8);

  div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  div:after {
    content: "";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: $dark-color;
    margin: -4px 0 0 -4px;
  }
  div:nth-child(1) {
    animation-delay: -0.036s;
  }
  div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  div:nth-child(2) {
    animation-delay: -0.072s;
  }
  div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  div:nth-child(3) {
    animation-delay: -0.108s;
  }
  div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  div:nth-child(4) {
    animation-delay: -0.144s;
  }
  div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  div:nth-child(5) {
    animation-delay: -0.18s;
  }
  div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  div:nth-child(6) {
    animation-delay: -0.216s;
  }
  div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  div:nth-child(7) {
    animation-delay: -0.252s;
  }
  div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  div:nth-child(8) {
    animation-delay: -0.288s;
  }
  div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

// Page Not Found
.not-found {
  display: grid;
  place-items: center;
  padding: 2em;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
}

//Flash message
.flash {
  position: relative;
  width: 80%;
  align-self: center;
  height: fit-content;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.3em;
  margin-top: 0.5em;

  &--success {
    background: rgba(74, 197, 129, 0.582);
  }
  &--error {
    background: rgba(199, 93, 89, 0.438);
  }
  &__message {
    width: 100%;
    margin: 0 1em;
    font-family: "Montserrat";
    font-size: 0.9em;
  }
}

// Mobile Design
@media screen and (max-width: 60em) {
  nav {
    ul {
      flex-direction: column;
      background: linear-gradient(#92c3c5, $light-base);
      width: 100%;
      position: fixed;
      z-index: 1;
      transition: all 0.3s ease-in-out;
      transform: translateY(-100%);
      li {
        width: 14em;
      }

      .navbar-contact-link {
        display: inline-block;
      }

      &::after {
        display: none;
      }
    }
    .active {
      transform: translateY(0);
      padding: 3em 0 3em 0;
    }
    .mobile-menu {
      display: block;
      z-index: 2;
      position: fixed;
      right: 7vw;
      padding-top: 1em;
    }
    #logo {
      z-index: 1;
    }
  }

  footer {
    align-content: space-around;
    margin-top: auto;
    #adress,
    #footer-contact {
      padding: 0.5rem 0;
      li {
        text-align: left;
      }
    }
    flex-wrap: wrap;
    // height: 14rem;

    .contact-button {
      button {
        order: 1;
        align-self: center;
        margin: 1rem;
      }
    }
    #adress {
      order: 2;
      width: calc(min(80%, 200px));
    }
    #footer-contact {
      order: 3;
      padding-bottom: 1rem;
    }
  }

  .modal-parent {
    #adress-recap {
      display: none;
    }

    #modal-children {
      width: calc(max(80vw, 300px));
    }
    .contact-form {
      grid-area: 2 / 1 / last-line/ end;

      @media screen and (max-width: 500px) {
        form {
          align-items: center;
          margin: 0;
        }
        label {
          width: 250px;
        }
      }

      form input {
        width: 250px;
      }

      textarea {
        width: calc(max(80%, 250px));
      }
    }
  }
}
